body{
    padding: 0;
    background-color: rgb(223, 218, 218);
}



.top-heading {
    display: flex;
    justify-content: space-between;
}

.top-heading h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.toggle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: white;
    border: solid 1px black;
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.4s;
    position: relative;
}

.button::before {
    position: absolute;
    content: '';
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin: 2.5px;
    transition: 0.4s;
}

input:checked+.button {
    background-color: white;

}

input:checked+.button::before {
    background-color: black;
    transform: translateX(30px);
}

input {
    display: none;
}


.genre, .audio-player, .playlist{
    width: 35rem;
    height: 40rem;
    background-color: skyblue;
    border-radius: 16px;
    padding: 20px;
}

.player-function {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.songs p {
    background-color: #ffffff;
    width: 200px;
    height: 32px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    
}

.songs p:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
    border: solid 1px rgb(10, 149, 204);
    box-shadow: 0px 0px 5px rgb(10, 149, 204);
}

.playlist input{
    display: inline;
    width: 200px;
    height: 30px;
    border-radius: 10px; 
    font-size: 20px;   
}

.playlist button{
    margin-top: 16px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.playlist button:hover{
    background-color: #e0e0e0;
    transform: translateY(-2px);
    border: solid 1px rgb(10, 149, 204);
    box-shadow: 0px 0px 5px rgb(10, 149, 204);
}

.audio-player {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    gap: 16px;
}

.song-poster {
    width: 22rem;
    height: 25rem;
    background-color: rgb(36, 147, 180);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(10, 149, 204);
}

.song-poster img{
    width: 20rem;
    height: 18rem;
    object-fit: cover;
}

.song-poster h1{
    align-self: flex-start;
    margin: 16px 0 0 0;
}

.song-poster p{
    align-self: flex-start;
    margin: 0;
}  


