body{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 218, 218);
}

.mode{
    padding: 10px;
    text-align: right;
}

.top-heading{
    text-align: center;
}

.genre, .audio-player, .playlist{
    width: 25em;
    height: 50em;
    background-color: skyblue;
    border-radius: 16px;
}

.player-function {
    display: flex;
    justify-content: space-around;
}